# Getting start with ML at Coursera

* This is a simple Markdown

In [36]:
import pandas as pd
import matplotlib.pyplot as plt

# Getting start with Pandas

In [22]:
person = pd.read_csv('people-example.csv')

In [28]:
pd.DataFrame(person) # Is tha samething than use >>>>> graphlab.SFrame()

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23
5        Tod  Campbell  United States   22
6      Derek      Ward    Switzerland   25

In [31]:
# Show a first elements of the csv file
person.head() # Or To show the last lines >>>>> person.tail()

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23

In [33]:
# To show data of any structure 
person.describe() # Or use person.show() in GraphLab Create

             age
count   7.000000
mean   23.142857
std     1.069045
min    22.000000
25%    22.500000
50%    23.000000
75%    23.500000
max    25.000000

In [34]:
pd.DataFrame(person).describe() # Other way to show datas

             age
count   7.000000
mean   23.142857
std     1.069045
min    22.000000
25%    22.500000
50%    23.000000
75%    23.500000
max    25.000000

In [50]:
person['First Name'] # show all elements of one especific column

0        Bob
1      Alice
2    Malcolm
3      Felix
4       Alex
5        Tod
6      Derek
Name: First Name, dtype: object

In [53]:
pd.DataFrame.count(person) # Count Elements of the column

First Name    7
Last Name     7
Country       7
age           7
dtype: int64